<!-- <label for="name"> Name</label>
<input type="text" name="name" id="name" [(ngModel)]="value" (ngModelChange)="change()"> -->
<div class="row d-flex justify-content-center mt-70 mb-70">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
            <div class="vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                <div class="vertical-timeline-item vertical-timeline-element">
                    <div>
                        <span class="vertical-timeline-element-icon bounce-in">
                            <i class="badge badge-dot badge-dot-xl badge-success"></i>
                        </span>
                        <div class="vertical-timeline-element-content bounce-in">
                            <h4 class="timeline-title">Meeting with client</h4>
                            <p>Meeting with USA Client, today at <a href="javascript:void(0);" data-abc="true">12:00 PM</a></p>
                            <span class="vertical-timeline-element-date">9:30 AM</span>
                        </div>
                    </div>
                </div>
                <div class="vertical-timeline-item vertical-timeline-element">
                    <div>
                        <span class="vertical-timeline-element-icon bounce-in">
                            <i class="badge badge-dot badge-dot-xl badge-success"></i>
                        </span>
                        <div class="vertical-timeline-element-content bounce-in">
                            <h4 class="timeline-title">Meeting with client</h4>
                            <p>Meeting with USA Client, today at <a href="javascript:void(0);" data-abc="true">12:00 PM</a></p>
                            <span class="vertical-timeline-element-date">9:30 AM</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

    </div>
</div>