.image{
    background-image: url('../../assets/background.png');
    height: auto;
    width: auto;
    background-size: cover;
   }
   .hx-150{
    height:150px;
  }
  .hx-50{
    height:50px;
  }
  .hx-45{
    height:45px;
  }
  .bg-blue {
    background-color: rgb(37, 93, 166);
  }
  .bg-grey {
    background-color:lightgrey;
  }
 .ml-1{
    margin-left: 1px;
 }
 input{
  position: absolute;
  transform: scale(0);
 }  
 .button{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color:black;
  padding: 0.5rem;
 }
.button-text{
  font-size: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  color:black;
  /* visibility: hidden; */
  /* display: none; */
  opacity: 0;
  transition: all 0.35s;
}
.img{
  transition: all 0.35s;
}
input:checked ~ .button{
  color: #76b0fd;
}
input:checked ~ .button .button-text{
  /* visibility: hidden; */
  display: block;
  opacity: 1;
  /* transform: translateY(-9px); */
}
input:checked ~ .button .img{
  transform: translateY(-9px);
}
.black{
  color: black;
}
.mr-4{
  margin-right: 20px;
}
.overflow{
  overflow-y: auto;
  overflow-x: hidden;
}