.blue {
    color: rgb(37, 93, 166);
}
.bg-green {
    background-color: rgb(195, 227, 212);
}

.bg-blue {
    background-color: rgb(37, 93, 166);
}
.hx-60{
    height: 60px;
}
.hx-30{
    height: 30px;
}